@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f5f5f4; /* Soft white equivalent */
    --foreground: #292524; /* Dark Brown equivalent */

    --card: #ffffff;
    --card-foreground: #292524;

    --popover: #ffffff;
    --popover-foreground: #292524;

    --primary: #059669; /* Muted Green equivalent */
    --primary-foreground: #fefce8;

    --secondary: #fef3c7; /* Light Tan equivalent */
    --secondary-foreground: #292524;

    --muted: #fef3c7;
    --muted-foreground: #78716c;

    --accent: #fb923c; /* Soft Orange equivalent */
    --accent-foreground: #1c1917;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --border: #e7e5e4;
    --input: #e7e5e4;
    --ring: #059669;

    --chart-1: #059669;
    --chart-2: #fb923c;
    --chart-3: #78716c;
    --chart-4: #f59e0b;
    --chart-5: #3b82f6;

    --radius: 0.8rem;
  }

  .dark {
    --background: #1c1917; /* Dark earthy brown */
    --foreground: #f5f5f4; /* Light beige */

    --card: #262626;
    --card-foreground: #f5f5f4;

    --popover: #1c1917;
    --popover-foreground: #f5f5f4;

    --primary: #059669; /* Muted Green */
    --primary-foreground: #fefce8;

    --secondary: #404040; /* Darker tan */
    --secondary-foreground: #f5f5f4;

    --muted: #404040;
    --muted-foreground: #a8a29e;

    --accent: #fb923c; /* Soft Orange */
    --accent-foreground: #1c1917;

    --destructive: #dc2626;
    --destructive-foreground: #ffffff;

    --border: #404040;
    --input: #404040;
    --ring: #059669;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.
  
  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Inter", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", sans-serif;
    color: var(--foreground);
  }

  p {
    font-family: "Inter", sans-serif;
    color: var(--foreground);
  }
}
